
<body style="margin-left:50px;">
<h1 style="color:Brown;">Listing posts</h1>

<p>
Download the posts in :
<%= link_to "CSV", posts_path(format: "csv") %> or
<%= link_to "XLS", posts_path(format: "xls") %>
</p>

<table style="width:1100px;">
  <tr>
    <th style="width:70px">Title</th>
    <th>Body</th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= link_to "#{post.body}", post %></td>
    <td><%= link_to image_tag("delete-24.png", :border=>0, :title=>"Delete"), post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<br />

<button><%= link_to 'New Post', new_post_path %></button>
</body>